.todo-text{
    font-size: 14px;
}

.todo-list-container {
    background: #fff;
    border-radius: 8px;
    margin-top: 8px;
    padding: 16px;
    position: relative;
    box-shadow: 0 4px 8px grey;
}

.todo-button-container{
    position: absolute;
    right: 12px;
    bottom: 12px;
}

button {
    font-size: 14px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    color: #fff;
}

.completed-button{
    display: inline-block;
    background-color: #006ae8;
}

.remove-button{
    display: inline-block;
    background-color: #3f3f48;
    margin-left: 8px;
}
